# Database Credentials
DB_URL=jdbc:mysql://db:3306/moodcapsuledb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
DB_USERNAME=Your DB_USERNAME
DB_PASSWORD=Your DB Password

# Security Secrets
JWT_SECRET=replace with your JWT String

# Mail Config
MAIL_USERNAME=youremail
MAIL_PASSWORD=yourpassword

# OpenAI API Key
OPENAI_API_KEY=sk-

# App Settings
SHOW_SQL=true
SWAGGER_ENABLED=true
APP_URL=http://localhost:8080
FRONTEND_BASE_URL=http://localhost:4200